{% extends 'base.html' %}

<title>{% block title %}Пост{% endblock %}</title>

{% block content %}
<br>
<form action = "{% url 'topics:create_post' %}" method ="POST">
	{% csrf_token %}
	<input type="text" class="form-control"  required placeholder="Название" name="title"><br>
	<textarea name="text" style = "height: 300px;" class="form-control" placeholder="Текст публикации" ></textarea>
	<br>
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
		  <label class="btn btn-secondary">
			<input type="radio" name="options" id="option1" autocomplete="off" value="МГУПП"> МГУПП
		  </label>
		  <label class="btn btn-secondary">
			<input type="radio" name="options" id="option2" autocomplete="off" value="Образование"> Образование
		  </label>
		  <label class="btn btn-secondary active">
			<input type="radio" name="options" id="option3" autocomplete="off" value="ФЛУД"> ФЛУД
		  </label>
		</div>

	<div>
		<br>
	<button type="submit" class="btn btn-primary form-control">Отправить</button>
	</div>
</form>
{% endblock %}
